.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20xp;
    gap: 30px;
}

.header{
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 30px;

}

.header span{
    color: #DE1889;
}
.image img{
    width: 350px;
}